
<div class="wrapper">
<div class="container">
<div class="org-container">
    <h1>
        View Opportunities and git the chance to volunteer , help the comunity and enhance your skills.
    </h1>
    <button  routerLink="/opportunities" mat-raised-button color="primary" >Opportunities</button>
</div>

<img class="volun-img" src="../../../assets/images/land-logo.png" alt="VOLUNTEERING image"/>




</div>

<div class="container">
    <img class="volun-img" src="../../../assets/images/landing-company.png" alt="search image"/>

    <div class="org-container">
        <h1>
            We have leading organizations that publish volunteering activities every day.
        </h1>
        <button  routerLink="/allcompanies" mat-raised-button color="primary" >Organizations</button>
    </div>
    
    
    
    
    
    </div>
</div>