.cover{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height:200px;
    margin: 3px auto 0;
    background-position: top center;
    position: relative;
    background-image: linear-gradient(
        to bottom,rgba(48, 44, 44, 0) 0,rgba(40, 35, 35, 0.9) 70%,rgba(51, 44, 44, 0.9) 100%)
        , url("../../../assets/images/landing-page.jpg");
   
    background-blend-mode: overlay;
}
.yellow-btn{
    margin-top: 20px;
    text-align: center;
    color: rgb(203 173 1);
    font-family: 'Convergence', sans-serif;

}
.org-sec{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color:white;
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%);
    margin-top: 3px;

}
.org-sec .card-container{
    display: grid;
    grid-template-columns: repeat(1,1fr); 
    gap: 20px;
    /* background-color: #fafafa;; */
    
}
.opportunities-sec{
    background-color:#fafafa;


}

.wrap{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 10px;
}
.hed-div{
    padding: 20px 10px;
    background-color: white;
    height:100px;
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%);
    margin-bottom: 3px;
}
.big-hedding{
  position: absolute;
  top: 30%;
  right:20%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
align-items: center;
}
.big-hedding h1{
    font-size: 30px;
    color: rgb(203 173 1);
    font-family: 'Convergence', sans-serif;
}
.big-hedding h2{
    font-size: 15px;
    color:white;
}
.card-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 3px;



}


mat-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.heading span{
    padding: 20px 0px;
    /* text-align: start; */
    /* opacity: 0.7; */
    color: rgb(230, 205, 63);
    font-family: 'Convergence', sans-serif;

}
.container{
    padding: 20px;
    width:100%;
    /* background-color: #fafafa */
}

@media (min-width: 768px) {
    .cover{
            width: 100%;
            height:400px;
          }
          .card-container{
            display: grid;
            grid-template-columns: repeat(2,1fr); 
            gap: 20px;
            /* background-color: #fafafa;; */
            
        }
        .wrap{
          
            padding: 15px;
        }
          mat-card{
            width: 700px;
    
        
        }
        .org-sec .card-container{
            display: grid;
            grid-template-columns: repeat(3,1fr); 
            gap: 20px;
            /* background-color: #fafafa;; */
            
        }
        .big-hedding h1{
            font-size: 40px;
            color: rgb(203 173 1);
            font-family: 'Convergence', sans-serif;
        }
        .big-hedding h2{
            font-size: 25px;
            color:white;
        }
   
     
   
}

@media (min-width: 992px) { 
    .copportunities{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    mat-card{
        width: 700px;

    
    }
.card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr); 
    gap: 20px;
    /* background-color: #fafafa;; */
    
}
.org-sec .card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr); 
    gap: 20px;
    /* background-color: #fafafa;; */
    
}

.cover{
    width: 100%;
    height: 500px;
  }
  .big-hedding h1{
    font-size: 50px;
    color: rgb(203 173 1);
    font-family: 'Convergence', sans-serif;
}
.big-hedding h2{
    font-size: 30px;
    color:white;
}
}

img {
    border-radius: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width:100%;
    height:100px;
  }
  mat-card:hover{
    box-shadow: 0 0 20px gray;

}
  .avatar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 3px;
    
    } 

mat-card{
    width: 100%;
    max-height: 600px;
    box-shadow: 0 0 10px gray;
    cursor: pointer;

}
mat-divider{
    margin:10px 5px;

}
mat-card-footer{
    background-color: rgb(230, 205, 63);
padding: 0;
text-align: center;
color: white;

}

/* .card-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
} */
mat-card-title{
    font-size: 1.5rem;
text-shadow: 0 0 3px gray;}
.item{
    padding: 5px;
    font-size: 1.2rem;
    text-shadow: 0 0 1px gray;}

    
.img-div{
    width: 100%;
   
}
.avatar-headre{
display: flex;
flex-direction: column;
}
.skills{
    display:flex;
}
.apply{
    display: flex;
    justify-content: flex-end;
}

    mat-chip-listbox{

display: flex;    }


.apply{
    display: flex;
    justify-content: flex-end;
    padding: 5px 20px;
}


