<button mat-fab color="primary" (click)="addoportunity()">
    <mat-icon>add</mat-icon>

</button><div class="container">
  <h1> your opportunities</h1>
    <mat-card *ngFor="let opportunity of opportunities" class="Opportunity-card">
     
        <mat-card-header>
          <mat-card-title class="title">{{opportunity.name}}</mat-card-title>
        </mat-card-header>
       <mat-divider></mat-divider>
        <mat-card-content>
          <div class="card-content">
           <div class="item"><b>Description : </b>{{opportunity.description}}</div> 
           <div class="item"><span> <b>Duration : </b>{{(opportunity.range.start).toDate()| date}}</span> <span>  -  {{(opportunity.range.end).toDate()| date}}</span></div> 
          
          </div>

        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-footer>
        
        <mat-progress-bar 
        class="item"
        [value]="100*5/opportunity.numberOfVolunteers"
        mode="determinate"
        [bufferValue]="0">
    </mat-progress-bar>
       <div class="item">
        {{opportunity.numberOfVolunteers}} volunteers</div></mat-card-footer>
      </mat-card>
      <!-- [value]="100* number of applied volunteers/ number of volunteers" -->

      


</div>