.container{
    display:flex;
    flex-direction: column;
    gap:20px;
align-items:center;}

mat-card{
    width: 500px;
    box-shadow: 0 0 10px gray;
    padding: 10px;
}
mat-divider{
    padding:10px;
    margin:10px 5px;

}
img{
    max-height: 100%;
    max-width: 100%;


}
mat-card-title{
    font-size: 1.5rem;
text-shadow: 0 0 3px gray;}
.item{
    padding: 5px 10px;
    font-size: 1.2rem;
    text-shadow: 0 0 1px gray;}



.apply{
    display: flex;
    justify-content: end;
}