.opportunities-sec{
    background-color:#fafafa;


}
img {
    border-radius: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width:100%;
    height:100px;
  }

  .avatar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 3px;
    width: 100%;
    
    } 
    mat-card-title{
        font-size: 1.5rem;
    text-shadow: 0 0 3px gray;}

.wrap{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 10px;
}
.hed-div{
    padding: 20px 10px;
    background-color: white;
    height:100px;
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%);
    margin-bottom: 3px;
}
.img-div{
    width: 100%;
   
}
.activity-card{
    cursor: pointer;
    box-shadow: 0 0 8px grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.activity-card:hover{
    cursor: pointer;
    box-shadow: 0 0 15px gray;
}
.avatar-headre{
display: flex;
flex-direction: column;
}
.card-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 3px;



}
.heading span{
    padding: 20px 0px;
    /* text-align: start; */
    /* opacity: 0.7; */
    color: rgb(230, 205, 63);
    font-family: 'Convergence', sans-serif;

}
.container{
    padding: 20px;
    width:100%;
    /* background-color: #fafafa */
}





mat-card-header{
    display: flex;
    justify-content: center;
   
}
.img-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.img-container div{
    font-size: 17px;

}
.card-item{
display:flex;
gap:20px;
padding-top: 15px;
padding-left: 10px;
font-size: 1.2rem;
}
mat-divider{
    margin-top: 10px;
    margin-bottom: 10px;

}
.courses{
   display: flex;
   flex-direction: column;
   gap: 10px;
    margin: 10px;
}
 .courses mat-card{
    padding: 5px;
    box-shadow: 0 0 8px gray;
border-radius: 7px;
} 
h5{
    font-size: 1rem;
}
mat-card-footer{
    background-color: rgb(230, 205, 63);
padding: 0;
text-align: center;
color: white;
padding-top:5px;
padding-bottom: 5px;
margin-top: 5px;


}
h4{
    text-shadow: 0 0 1px gray;
    font-size: 1.2rem;

}
.container{
    display: flex;
    flex-direction: column;
    /* align-items: center; */

}
.main-card{
    box-shadow: 0 0 8px gray;
padding: 20px;
}

@media (min-width: 768px) { 
    
    
    .card-container{
        display: grid;
        grid-template-columns: repeat(2,1fr); 
        gap: 20px;
        /* background-color: #fafafa;; */
        
    }
    .wrap{
      
        padding: 15px;
    }
    .container{
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center; 
    
    }
    .main-card{
        box-shadow: 0 0 8px gray;
    /* padding: 50px; */
    width: 800px;
    }
    .courses{
   
display: grid;
grid-template-columns:repeat(2,1fr);
gap: 10px;


    }

}

@media (min-width: 992px) { 
    .card-container{
        display: grid;
        grid-template-columns: repeat(3,1fr); 
        gap: 20px;
        /* background-color: #fafafa;; */
        
    }
}
