mat-card-header{
    display: flex;
    justify-content: center;
   
}
.img-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.img-container div{
    font-size: 17px;

}
.card-item{
display:flex;
gap:20px;
padding-top: 15px;
padding-left: 10px;
font-size: 1.2rem;
}
mat-divider{
    margin-top: 10px;
    margin-bottom: 10px;

}
.courses{
   display: flex;
   flex-direction: column;
   gap: 10px;
    margin: 10px;
}
 .courses mat-card{
    padding: 5px;
    box-shadow: 0 0 8px gray;
border-radius: 7px;
} 
h5{
    font-size: 1rem;
}
h4{
    text-shadow: 0 0 1px gray;
    font-size: 1.2rem;

}
.container{
    display: flex;
    flex-direction: column;
    /* align-items: center; */

}
.main-card{
    box-shadow: 0 0 8px gray;
padding: 20px;
}

@media (min-width: 768px) { 
    .container{
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center; 
    
    }
    .main-card{
        box-shadow: 0 0 8px gray;
    padding: 50px;
    width: 700px;
    }
    .courses{
   
display: grid;
grid-template-columns:repeat(2,1fr);
gap: 10px;


    }

}
