<div class="form-container">
  <h2>Person Register Form</h2>
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>Full Name</mat-label>
      <input
        name="fullName"
        matInput
        placeholder="First name Last name"
        formControlName="fullName"
      />
      <mat-error> Full Name is required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>City</mat-label>
      <mat-select name="city" formControlName="city">
        <mat-option *ngFor="let City of Cities" [value]="City.city">
          {{ City.city }}
        </mat-option>
      </mat-select>
      <mat-error>required field</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>phoneNumber</mat-label>
      <input
        name="phoneNumber"
        type="number"
        matInput
        #phoneNumber
        placeholder="Ex. 0712345678"
        formControlName="phoneNumber"
      />
      <mat-hint align="end">{{ phoneNumber.value.length }} / 10</mat-hint>
      <mat-error>required field</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Experience</mat-label>
      <mat-select
        name="experience"
        formControlName="experience"
        [multiple]="false"
      >
        <mat-option
          *ngFor="let Experience of experienceList"
          [value]="Experience"
        >
          {{ Experience }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div>
      <mat-label>Courses</mat-label>
      <ng-container formArrayName="courses">
        <ng-container *ngFor="let course of courses.controls; let i = index">
          <div class="course" [formGroupName]="i">
            <mat-form-field>
              <mat-label>course Name</mat-label>
              <input matInput name="title" formControlName="title"
            /></mat-form-field>
            <mat-error *ngIf="form.get('title')?.hasError('required')"
              >required feild</mat-error
            >
            <mat-form-field>
              <mat-label>Organization</mat-label>
              <input
                matInput
                name="organization"
                formControlName="organization"
            /></mat-form-field>
            <mat-error *ngIf="form.get('organization')?.hasError('required')"
              >required feild</mat-error
            >

            <mat-form-field>
              <mat-label>number of hours</mat-label>
              <input
                matInput
                name="hours"
                formControlName="hours"
                type="number"
            /></mat-form-field>
            <mat-error *ngIf="form.get('hours')?.hasError('required')"
              >required feild</mat-error
            >
            <button id="delete" color="warn" (click)="deletecourse(i)">
              <mat-icon>remove</mat-icon>
            </button>
          </div>
        </ng-container>
      </ng-container>

      <button id="add" mat-raised-button color="primary" (click)="addCourses()">
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <div class="logo">
      <label for="logo"> Logo*.........</label>
      <div>
        <img [src]="downloadurl" alt="profile image" class="logo-div" />
        <input
          type="file"
          (change)="upload($event)"
          name="profileImg"
          acept="image/*"
          placeholder="upload logo....."
        />
      </div>
    </div>

    <button id="reset" mat-raised-button color="warn" (click)="form.reset()">
      Reset
    </button>
    <button
      [disabled]="form.invalid"
      mat-raised-button
      color="primary"
      (click)="submit()"
    >
      Submit
    </button>
  </form>
</div>
