mat-divider{
    padding: 10px 5px;
}
.card-container{
    display: flex;
    flex-direction: column;
  align-items: center;
  padding: 20px;
  row-gap:20px;


}
mat-card{
    width: 100%;
    padding: 10px;

}
.logo{
    width: 100%;
}
mat-card-header{
    padding-bottom: 5px;
    font-size: 1.5rem;

}

@media (min-width: 992px) {
    mat-card{
        width: 350px;
         padding: 10px;
    
    }
    .card-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap:10px;
    }
   
}
