mat-divider{
    padding: 10px 5px;
}
.card-container{
    display: flex;
    flex-direction: column;
  align-items: center;
  gap:20px;
  max-height: fit-content;


}
mat-card:hover{
    box-shadow: 0 0 20px gray;

}
h1{
    text-align: center;
    padding-bottom:20px ;
}
.input{
width: 100%;
}
mat-card{
    width: 100%;
    padding: 10px;
    box-shadow: 0 0 10px gray;
    cursor: pointer;

}
.search-card mat-card-title{
padding-bottom: 10px;
}
.search-card{
    padding: 10px;
}
.logo{
    width: 100%;
}
mat-card-header{
    padding-bottom: 5px;
    font-size: 1.5rem;

}

@media (min-width: 768px) { 
    mat-card{
        width: 300px;
         padding: 10px;

    
    }
.card-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    
}


    .container{
        display: flex;
        flex-direction: column;
  padding: 20px 40px;
    }
    .wrapper{
        display: flex;
        justify-content: space-around;
        padding: 20px 10px;
        gap: 20px;
    }
    .search-card{
        display: flex;
        max-width: 250px;
        max-height:200px;
    }

    
   
}
