<div class="card-container">
<mat-card  *ngFor="let company of allcompanies">
    <mat-card-header>
      <mat-card-title>{{company.name}}</mat-card-title>
      <mat-card-subtitle>{{company.type}}</mat-card-subtitle>
    </mat-card-header>
<mat-divider></mat-divider>
   <mat-card-content>
    <img class="logo" mat-card-image src= "../../../../assets/images/company-profile.png" alt="company logo">
    <mat-divider></mat-divider>
   </mat-card-content>
   <mat-card-footer routerlink="/details">view details</mat-card-footer>
  </mat-card>
</div>
