mat-toolbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px black;
}
.btn-login{
display: flex;
align-items: center;
}
.regestration{
    display: flex;
        align-items: center;
        gap: 5px;
}


.example-sidenav-content {
    height: 100%;
  
}

a{
    text-decoration: none;
    
}
.nav-links{
    display: flex;
    gap: 20px;
}
