<div class="form-container">
    <h2>Person Register Form</h2>
    <form [formGroup]="form" (ngSubmit)="submit()">

        <mat-form-field>
            <mat-label>Full Name</mat-label>
            <input name="fullName" matInput placeholder="First name Last name" formControlName="fullName">
            <mat-error> Full Name is required</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>City</mat-label>
            <mat-select name="city" formControlName="city">
                <mat-option *ngFor="let City of Cities" [value]="City.city">
                    {{City.city}}
                </mat-option>
            </mat-select>
            <mat-error>required field</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>phoneNumber</mat-label>
            <input name="phoneNumber" type="number" matInput #phoneNumber placeholder="Ex. 0712345678"
            formControlName="phoneNumber">
            <mat-hint align="end">{{phoneNumber.value.length}} / 10</mat-hint>
            <mat-error>required field</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
                         <mat-error *ngIf="form.get('email')?.hasError('email') && !form.get('email')?.hasError('required')">
                Please enter a  valid email address
            </mat-error>
            <mat-error *ngIf="form.get('email')?.hasError('required')">
                Email is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field  class="inputs-field">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="form.get('password')?.hasError('required')">
                password is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="form.get('password')?.hasError('pattern') && !form.get('password')?.hasError('required')">
                Minimum eight characters: one Uppercase letter, one lowercase letter, one number and special character:

            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Skills</mat-label>
            <mat-chip-grid name="skills" #chipGrid aria-label="skills selection" formControlName="skills" >
                <mat-chip-row *ngFor="let skill of skills" (removed)="remove(skill)" >
                    {{skill}}
                    <button matChipRemove [attr.aria-label]="'remove ' + skill">
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip-row>
            </mat-chip-grid>
            <input placeholder="New skill..." #skillInput  [matChipInputFor]="chipGrid" 
                [matAutocomplete]="auto" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="add($event)" />
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                <mat-option *ngFor="let skill of filteredSkills | async" [value]="skill">
                    {{skill}}
                </mat-option>
            </mat-autocomplete>
            <mat-error>required field</mat-error>

        </mat-form-field>
        <mat-form-field>
            <mat-label>Days</mat-label>
            <mat-select name="city" formControlName="days" [multiple]="true">
                <mat-option *ngFor="let day of days" [value]="day">
                    {{day}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>courses</mat-label>
            <textarea name="courses" matInput matNativeControl placeholder="please enter your courses..."
            formControlName="courses">
         </textarea>
            <mat-error> required field</mat-error>
        </mat-form-field>
     
    
      




           
               

        <button id="reset" mat-raised-button color="warn" (click)="form.reset()">Reset</button>
        <button [disabled]="form.invalid" mat-raised-button color="primary" (click)="submit()">Submit</button>

    </form>

</div>