.register-card {
  padding: 30px;
  max-width: 100%;
  cursor: pointer;
  box-shadow: 0 0 10px gray;
}

.container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
    justify-content: center;
  }

  .register-card {
    padding: 20px;
    max-width: 400px;
  }
  .register-card:hover {
    box-shadow: 0 0 20px black;
  }
}
