<div class="container">
  <h1>All opportunities</h1>
  <mat-card class="search-card">
   
    <mat-card-title><mat-icon>search</mat-icon>Filter Organizations</mat-card-title>
<form [formGroup]="form">

<mat-form-field>
<input matInput type="text" formControlName="name" placeholder="search by name.." name="name"(keyup)="filteronname()">
</mat-form-field>
</form>
</mat-card>
  





    <mat-card *ngFor="let opportunity of allcompanies |async" class="Opportunity-card">
        <mat-card-header>
          <mat-card-title class="title">{{opportunity.name}}</mat-card-title>
          <mat-card-subtitle class="title">{{opportunity.companyName}}</mat-card-subtitle>

        </mat-card-header>
       <mat-divider></mat-divider>
        <mat-card-content>
          <div class="card-content">
           <div class="item"><b>Description : </b>{{opportunity.description}}</div> 
           <div class="item"><span><b>Duration : </b>{{(opportunity.range.start).toDate()| date}}</span> <span>  -  {{(opportunity.range.end).toDate()| date}}</span>
            <div class="item"><b>skills required:</b>
            <mat-chip-listbox aria-label="skills required">

              <mat-chip *ngFor="let skill of (opportunity.skills).split(',')">
                       {{skill}}
              </mat-chip>
              </mat-chip-listbox>
            </div>
          </div> 
          </div>

        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-footer>
        <mat-card-actions class="apply">
          <button *ngIf='role=="person"'  mat-raised-button color="primary">Apply</button>
        </mat-card-actions>
        <mat-progress-bar 
        class="item"
        [value]="100*5/opportunity.numberOfVolunteers"
        mode="determinate"
        [bufferValue]="0">
    </mat-progress-bar>
       <div class="item">
        {{opportunity.numberOfVolunteers}} volunteers</div></mat-card-footer>
      </mat-card>
      <!-- [value]="100* number of applied volunteers/ number of volunteers" -->

      


</div>