<div class="container">
  <h1>All opportunities</h1>

  <mat-card class="search-card">
   
    <mat-card-title><mat-icon>search</mat-icon>Filter Organizations</mat-card-title>
<form [formGroup]="form">

<mat-form-field>
<input matInput type="text" formControlName="name" placeholder="search by name.." name="name"(keyup)="filteronname()">
</mat-form-field>
</form>
</mat-card>
  <div class="card-container">
 

    <mat-card class="Opportunity-card" *ngFor="let opportunity of alloportunities; let i= index ;">
      <mat-card-header>
        <div class="p-avatar">
            <div >
                <img class="avatar" mat-card-image [src]="opportunity.companyLogo" alt="company profile img"></div>
              
        <mat-card-subtitle class="title">{{opportunity.companyName}}</mat-card-subtitle>
        </div>
      </mat-card-header>
        <mat-card-content>
          <div class="content-container">
       
        <div class="item"><b>skills required:</b>
          <mat-chip-listbox aria-label="skills required">

            <mat-chip *ngFor="let skill of (opportunity.skills).split(',')">
                     {{skill}}
            </mat-chip>
            </mat-chip-listbox>
          </div>
        </div>
     
        </mat-card-content>
        <mat-divider></mat-divider>
      
    
        <mat-progress-bar 
        class="item"
        [value]="100*5/opportunity.numberOfVolunteers"
        mode="determinate"
        [bufferValue]="0">
    </mat-progress-bar>
       <div class="item">
        {{opportunity.numberOfVolunteers}} volunteers
      </div>
      <mat-card-actions class="apply">
        <button *ngIf='role.startsWith("person")'  mat-raised-button color="primary">Apply</button>
      </mat-card-actions>
      <mat-card-footer>
      <div class="item"><span>{{(opportunity.range.start).toDate()| date}}</span> <span>  -  {{(opportunity.range.end).toDate()| date}}</span>
           
      </div> 
    </mat-card-footer>
      </mat-card>
      <!-- [value]="100* number of applied volunteers/ number of volunteers" -->
    </div>
    </div>
      


