.cover {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 200px;
  margin: 3px auto 0;
  background-position: top left;
  position: relative;
  background-image: linear-gradient(
      to bottom,
      rgba(48, 44, 44, 0) 0,
      rgba(40, 35, 35, 0.9) 70%,
      rgba(51, 44, 44, 0.9) 100%
    ),
    url("../../../../assets/images/all-opp.jpg");

  background-blend-mode: overlay;
}

.big-hedding {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.big-hedding h1 {
  font-size: 30px;
  color: rgb(203 173 1);
  font-family: "Convergence", sans-serif;
}
.big-hedding h2 {
  font-size: 15px;
  color: white;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 3px;
}
mat-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.add {
  background-color: rgb(230, 205, 63);
}
.search-card {
  display: flex;
  position: absolute;
  flex-direction: column;
  margin-top: 5px;
  background-color: #eee;
  opacity: 0.8;
  width: 100%;
}
.search {
  z-index: 5;
  top: 100px;
  left: 36%;
  width: 150px;
  position: fixed;
}
.search-card form {
  display: flex;
  padding: 10px 5px;
}
.btn-yellow {
  background-color: rgb(230, 205, 63);
}
.search-head {
  border-radius: 10px;
  width: 120px;
  height: 35px;
  border: 1px solid black;
  background-color: #eee;
  opacity: 0.7;
}
.search-card form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.show {
  display: none;
}

.hed-div {
  padding: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
  background-color: white;
  height: 100px;
  box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%);
  margin-bottom: 3px;
}
.big-hedding {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading span {
  padding: 20px 0px;
  color: rgb(230, 205, 63);
  font-family: "Convergence", sans-serif;
}
.apply {
  display: flex;
  justify-content: flex-end;
}
.container {
  padding: 20px;
  width: 100%;
}
.wrap {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

img {
  border-radius: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100px;
}
mat-card:hover {
  box-shadow: 0 0 20px gray;
}
.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 3px;
}
mat-card {
  width: 100%;
  max-height: 600px;
  box-shadow: 0 0 10px gray;
  cursor: pointer;
}
mat-divider {
  margin: 10px 5px;
}
mat-card-footer {
  background-color: rgb(230, 205, 63);
  padding: 0;
  text-align: center;
  color: white;
}
mat-card-title {
  font-size: 1.5rem;
  text-shadow: 0 0 3px gray;
}
.item {
  padding: 5px;
  font-size: 1.2rem;
  text-shadow: 0 0 1px gray;
}

.img-div {
  width: 100%;
}
.avatar-headre {
  display: flex;
  flex-direction: column;
}
.skills {
  display: flex;
}

mat-chip-listbox {
  display: flex;
}

.apply {
  display: flex;
  justify-content: flex-end;
  padding: 5px 20px;
}

@media (min-width: 768px) {
  .card-container {
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .cover {
    width: 100%;
    height: 350px;
  }
  .opportunities-sec {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .wrap {
    padding: 20px;
  }

  .big-hedding h1 {
    font-size: 40px;
    color: rgb(203 173 1);
    font-family: "Convergence", sans-serif;
  }
  .big-hedding h2 {
    font-size: 25px;
    color: white;
  }
  .search-head {
    width: 200px;
    height: 30px;
  }

  .search {
    position: fixed;
    width: 300px;
    z-index: 5;
    top: 100px;
    left: 50%;
  }
}

@media (min-width: 992px) {
  .copportunities {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .cover {
    width: 100%;
    height: 400px;
  }
  .big-hedding h1 {
    font-size: 50px;
    color: rgb(203 173 1);
    font-family: "Convergence", sans-serif;
  }
  .big-hedding h2 {
    font-size: 30px;
    color: white;
  }
}
