<div class="cover">
    <div class="big-hedding">
     <h1 class="b-h1">We rise</h1><h2 class="b-h2"> By helping others</h2>
    </div>
    </div>
    <section class="p-section">
        <p class="desc"><span class="yellow_letter">V</span>olunteering can help you make friends, learn new skills, advance your career, 
            and even feel happier and healthier.
             Learn how to find the right volunteer opportunity for you.</p>
    </section>

    <section class="p-section">

        <p class="desc"><span class="yellow_letter">O</span>ne of the more well-known benefits of volunteering is the impact on the community. Volunteering allows you to connect to your community and make it a better place. Even helping out with the smallest tasks can make a real difference to the lives of people, animals, and organizations in need. And volunteering is a two-way street: It can benefit you and your family as much as the cause you choose to help. Dedicating your time as a volunteer helps you make new friends, expand your network, and boost your social skills.</p>
    </section>