<div class="container">
    <!-- <a routerLink="./person">ro</a> -->
<mat-card routerLink="./person" class="register-card">
    <mat-card-header>
        <mat-card-title>Person</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../../../assets/images/personal.png" alt="Photo of personal signup">
   </mat-card>
<mat-card  routerLink="./organaization" class="register-card" >
    <mat-card-header>

        <mat-card-title>Organaization</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../../../assets/images/company.png" alt="Photo of personal signup">
</mat-card>
</div>