

.main-card mat-card-header{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 1.5rem;
}
mat-card-footer{
    background-color: rgb(230, 205, 63);
padding: 0;
text-align: center;
color: white;
padding-top:5px;
padding-bottom: 5px;
margin-top: 5px;


}

.wrap{
    display: flex;
    flex-direction: column;
    padding: 10px 28px 10px 10px;}
.img-div{
    width: 100%;
   
}
.avatar-headre{
display: flex;
flex-direction: column;
}
.hed-div{
    padding: 20px 10px;
    background-color: white;
    height:100px;
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%);
    margin-bottom: 3px;
}
.card-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 3px;



}
.activity-card{
    box-shadow: 0 0 10px gray;
    cursor: pointer;
    box-shadow: 0 0 8px grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.activity-card:hover{
    cursor: pointer;
    box-shadow: 0 0 15px gray;
}
.heading span{
    padding: 20px 0px;
    /* text-align: start; */
    /* opacity: 0.7; */
    color: rgb(230, 205, 63);
    font-family: 'Convergence', sans-serif;

}

.container{
    padding: 20px;
    width:100%;
    /* background-color: #fafafa */
}
img{
    border-radius: 100%;
    width: 132px;
}
.card-item{
display:flex;
gap:20px;
padding-top: 15px;
padding-left: 10px;
}

mat-divider{
    padding: 10px;
    margin-top: 10px;
}
.img-container{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.img-container div{
    font-size: 17px;

}
.avatar {
    border-radius: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 96px;
    height: 96px;
  }

h5{
    font-size: 1.2rem;
}
h4{
    text-shadow: 0 0 1px gray;
    font-size: 1.2rem;

}
.container{
    display: flex;
    flex-direction: column;
    padding:20px;
    /* align-items: center; */

}
.main-card{
    box-shadow: 0 0 8px gray;
padding: 20px;
width: 100%;
}
.logo{
border-radius: 50%;
object-fit: contain;
width: 200px;

}

@media (min-width: 768px) { 
    .container{
        padding: 20px;
        margin: 15px;
        display: flex;
        flex-direction: column;
        align-items: center; 
    
    }
    .main-card{
    padding: 25px;
    width: 800px;
    }
 
    .card-container{
        display: grid;
        grid-template-columns: repeat(2,1fr); 
        gap: 20px;
        /* background-color: #fafafa;; */
        
    }
    .wrap{
      
        padding: 15px;
    }
    .container{
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center; 
    
    }
}


@media (min-width: 992px) { 
    .card-container{
        display: grid;
        grid-template-columns: repeat(3,1fr); 
        gap: 20px;
        /* background-color: #fafafa;; */
        
    }
    
}
