.details-box {
  display: flex;
  flex-direction: column;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
  justify-content: space-evenly;
  gap: 15px;
}
mat-card-actions{
  padding-top: 15px;
  display: flex;
  gap:15px;
}
.first-box{
  display: flex;
  flex-direction: column;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
  justify-content: space-evenly;
  gap: 15px;
}
.wrapper{
  display: flex;
  flex-direction: column;
 
  border-radius: 8px;
  justify-content: space-evenly;
  gap: 15px;
}
.first-tab{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
  .details-container{
    padding: 20px;
  }
 
  
  .company-card{
width: 100%;
height: 100%;
cursor: pointer;
box-shadow: 0 0 5px gray;

  }
 
  mat-tab-group{
    margin-bottom: 30px;
    margin-top: 20px;
  }
  .circle{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: inline-block;
  }
  .active{
    background-color:rgb(16, 208, 16);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: inline-block;

  }
  .item{
    margin-top: 10px;
    padding: 5px;
    font-size: 1.2rem;
    text-shadow: 0 0 1px gray;}

   
    .decribe{
      width: 100%;
      text-shadow: 0 0 1px gray;
    }
  .notactive{
    background-color:rgb(231, 9, 9);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: inline-block;

  }
  .description-card{
    text-shadow: 0 0 1px gray;
    font-size: 1.2rem;
  }

  
  mat-tab{
    display: flex;
    gap: 20px;
  }
  .company-card:hover, .card:hover{
    box-shadow: 0 0 10px gray;
  }
  .company-card img{
  width: 100%;
    max-height: 200px;

  }
  .example-large-box {
    height: 300px;
    width: 100%
  }
  
  /* tab-2 */
  

 img.avatar {
  border-radius: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.second-tab-container .avatar{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 3px;
  
  } 
  .second-tab-container{
    display: flex;
    flex-direction: column;
  }


  .second-tab-container .container{
      display:flex;
      flex-direction: column;
      gap:20px;
  align-items:center;}
  
  .card-volunteer{
      width: 100%;
      max-height: 600px;
      box-shadow: 0 0 10px gray;
      padding: 10px;
      cursor: pointer;
  }

  .card-volunteer:hover{
      box-shadow: 0 0 20px gray;

  }
  mat-divider{
      margin:10px 5px;
  
  }
  .card-item{
      display:flex;
      gap:20px;
      padding-top: 15px;
      padding-left: 10px;
      font-size: 1.2rem;
      }
      @media (min-width: 768px) {
        .card-volunteer{
            /* width: 400px; */
               padding: 10px;
                box-shadow: 0 0 10px gray;
                padding: 10px;
                cursor: pointer;
            }
            .wrapper{
              display: grid;
              grid-template-columns: repeat(2,1fr);
              gap: 20px;
              margin-bottom: 20px;
            }
            .form-details-content{
              display: flex;
              flex-direction: column;
              gap:15px;
            }
            .form-details{
              box-shadow: 0 0 10px gray;

            }
          .second-tab-container .card-container{
          display: grid;
          grid-template-columns: repeat(2,1fr);
          gap: 10px;
          
      }
      .description-card{
        text-shadow: 0 0 1px gray;
        font-size: 1.2rem;
      }
      .first-tab{
        margin: 16px;
        padding: 16px;
      }
      .first-box {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
      .details-box {
        display: grid;
grid-template-columns: repeat(2,1fr);
        padding: 16px;
        border-radius: 8px;
        gap: 15px;
      }
      }