<div class="container" *ngIf="opportunity$ | async as opportunity">
  <div class="hed-div">
    <h1 class="heading">{{ opportunity.name }} <span>Details</span></h1>
  </div>
  <mat-tab-group dynamicHeight>
    <mat-tab label="opportunity Details">
      <div class="mat-elevation-z4 first-box">
        <div class="wrapper">
          <div class="c">
            <mat-card
              class="company-card"
              [routerLink]="['/company/profile', opportunity.userid]"
            >
              <mat-card-header class="company-card-header">
                <mat-card-title>{{ opportunity.companyName }}</mat-card-title>
              </mat-card-header>
              <img
                class="company-card-logo"
                mat-card-image
                [src]="opportunity.companyLogo"
              />
            </mat-card>
          </div>

          <mat-card class="form-details">
            <mat-card-header class="form-details-header">
              <mat-card-title>opportunity Details:</mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
            <div class="details-container">
              <div class="icon-div">
                <mat-icon color="primary"> badge </mat-icon>
                {{ opportunity.name }}
              </div>
              <div class="icon-div">
                <mat-icon color="primary"> volunteer_activism </mat-icon>
                {{ opportunity.numberOfVolunteers }} Volunteers
              </div>
              <div class="icon-div">
                <mat-icon color="primary"> date_range </mat-icon>
                {{ opportunity.range.start.toDate() | date : "yyyy/MM/dd" }}
                <mat-icon color="primary">history</mat-icon>
                {{ opportunity.range.end.toDate() | date : "yyyy/MM/dd" }}
              </div>
              <div class="icon-div skills">
                <mat-icon color="primary">checklist</mat-icon>
                <mat-chip-listbox class="skills" aria-label="skills required">
                  <mat-chip *ngFor="let skill of opportunity.skills">
                    {{ skill }}
                  </mat-chip>
                </mat-chip-listbox>
              </div>
              <div
                *ngIf="
                  opportunity.numberOfApplicants <
                  opportunity.numberOfVolunteers
                "
                class="icon-div"
              >
                <span class="active"></span>Available
              </div>
              <div
                *ngIf="
                  opportunity.numberOfApplicants >=
                  opportunity.numberOfVolunteers
                "
                class="icon-div"
              >
                <span span class="notactive"></span> Not Available
              </div>
              <mat-progress-bar
                class="item"
                [value]="
                  (100 * opportunity.numberOfApplicants) /
                  opportunity.numberOfVolunteers
                "
                mode="determinate"
                [bufferValue]="0"
              >
              </mat-progress-bar>

              <div class="item">
                {{ opportunity.numberOfApplicants }} /
                {{ opportunity.numberOfVolunteers }} volunteers
              </div>
              <div class="apply">
                <button
                  [disabled]="
                    chickapply(opportunity.applicantsIds, opportunity.active)
                  "
                  mat-raised-button
                  *ngIf="
                    role == 'person' &&
                    opportunity.numberOfApplicants <
                      opportunity.numberOfVolunteers
                  "
                  color="primary"
                  (click)="Apply(opportunity.id + '')"
                >
                  Apply
                </button>
              </div>
            </div>
          </mat-card>
        </div>
        <mat-card class="decribe">
          <mat-card-header class="details-card-header">
            <mat-card-title>Description:</mat-card-title></mat-card-header
          >
          <mat-card-content>{{ opportunity.description }}</mat-card-content>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Approved">
      <div class="mat-elevation-z4" *ngIf="approved">
        <div
          class="details-box mat-elevation-z4"
          *ngFor="let volunteer of approved | async"
        >
          <div class="c">
            <mat-card
              class="card-volunteer"
              [routerLink]="['/volunteer/profile', volunteer.uid]"
            >
              <mat-card-header>
                <div class="p-avatar">
                  <div>
                    <img
                      class="avatar"
                      mat-card-image
                      [src]="volunteer.userdetails.profileImg"
                      alt="volunteer profile img"
                    />
                  </div>
                  <mat-card-subtitle class="title">{{
                    volunteer.userdetails.fullName
                  }}</mat-card-subtitle>
                </div>
              </mat-card-header>
              <mat-divider></mat-divider>

              <mat-card-content>
                <div class="content-container">
                  <h4>personal information</h4>
                  <div class="card-item">
                    <h5>phone Number :</h5>
                    {{ volunteer.userdetails.phoneNumber }}
                  </div>

                  <mat-divider></mat-divider>
                  <h4>Skills</h4>
                  <div class="item">
                    <mat-chip-listbox aria-label="skills required">
                      <mat-chip
                        *ngFor="let skill of volunteer.userdetails.skills"
                      >
                        {{ skill }}
                      </mat-chip>
                    </mat-chip-listbox>
                  </div>

                  <mat-divider></mat-divider></div
              ></mat-card-content>
            </mat-card>
          </div>
          <mat-card class="form-details">
            <mat-card-header class="form-details-header">
              <mat-card-title>Applicant Form Details:</mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content class="form-details-content">
              <div class="form-item">
                <span>What Can You Volunteer In ?</span
                >{{ volunteer.VolunteerIn }}
              </div>
              <div class="form-item">
                <span>why Do You Want to Volunteer ?</span
                >{{ volunteer.whyApply }}
              </div>
              <div class="icon-div form-item">
                <mat-icon color="primary"> date_range </mat-icon>Available Date:
                {{
                  volunteer.availabledate.start.toDate() | date : "yyyy/MM/dd"
                }}
                <mat-icon color="primary">history</mat-icon>
                {{ volunteer.availabledate.end.toDate() | date : "yyyy/MM/dd" }}
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
  <!-- user details -->
  <div *ngIf="auth.userState$ | async as user">
    <div class="user" *ngIf="volunteerform | async as applicant">
      <div class="form-detailsdiv" *ngIf="applicant[0]">
        <div class="hed-div" *ngIf="applicant[0].uid == user.id">
          <h1 class="heading">Application <span>Form</span></h1>
        </div>
        <mat-card class="form-details">
          <mat-card-header class="form-details-header">
            <mat-card-title>Applicant Form Details:</mat-card-title>
          </mat-card-header>
          <mat-divider></mat-divider>
          <mat-card-content class="form-details-content">
            <div class="form-item">
              <span>What Can You Volunteer In ?</span
              >{{ applicant[0].VolunteerIn }}
            </div>
            <div class="form-item">
              <span>why Do You Want to Volunteer ?</span
              >{{ applicant[0].whyApply }}
            </div>
            <div class="icon-div form-item">
              <mat-icon color="primary"> date_range </mat-icon
              >{{
                applicant[0].availabledate.start.toDate() | date : "yyyy/MM/dd"
              }}
              <mat-icon color="primary">history</mat-icon>
              {{
                applicant[0].availabledate.end.toDate() | date : "yyyy/MM/dd"
              }}
            </div>
            <div class="form-item icon-div">
              <span>Request Status: </span>{{ applicant[0].state }}
              <mat-icon
                class="approved"
                *ngIf="applicant[0].state == 'approved'"
                >check_circle
              </mat-icon>
              <mat-icon color="warn" *ngIf="applicant[0].state == 'rejected'"
                >close
              </mat-icon>
              <mat-icon
                class="waitting"
                *ngIf="applicant[0].state == 'waitting'"
                >pending
              </mat-icon>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

  <!-- userdetails -->
  <mat-divider></mat-divider>
  <!-- second tab group -->
  <div class="second-tab-container" *ngIf="auth.userState$ | async as user">
    <div *ngIf="user.id == opportunity.userid">
      <div class="hed-div">
        <h1 class="heading">Applicants <span>Details</span></h1>
      </div>
      <mat-tab-group dynamicHeight>
        <mat-tab label="Waitting Requests">
          <div
            class="details-box mat-elevation-z4"
            *ngFor="let volunteer of waitting | async"
          >
            <div class="c">
              <mat-card
                class="card-volunteer"
                [routerLink]="['/volunteer/profile', volunteer.uid]"
              >
                <mat-card-header>
                  <div class="p-avatar">
                    <div>
                      <img
                        class="avatar"
                        mat-card-image
                        [src]="volunteer.userdetails.profileImg"
                        alt="volunteer profile img"
                      />
                    </div>

                    <mat-card-subtitle class="title">{{
                      volunteer.userdetails.fullName
                    }}</mat-card-subtitle>
                  </div>
                </mat-card-header>
                <mat-divider></mat-divider>

                <mat-card-content>
                  <div class="content-container">
                    <h4>personal information</h4>
                    <div class="card-item">
                      <h5>phone Number :</h5>
                      {{ volunteer.userdetails.phoneNumber }}
                    </div>

                    <mat-divider></mat-divider>
                    <h4>Skills</h4>
                    <div class="item">
                      <mat-chip-listbox aria-label="skills required">
                        <mat-chip
                          *ngFor="let skill of volunteer.userdetails.skills"
                        >
                          {{ skill }}
                        </mat-chip>
                      </mat-chip-listbox>
                    </div>

                    <mat-divider></mat-divider></div
                ></mat-card-content>
              </mat-card>
            </div>
            <mat-card class="form-details">
              <mat-card-header class="form-details-header">
                <mat-card-title>Applicant Form Details:</mat-card-title>
              </mat-card-header>
              <mat-divider></mat-divider>
              <mat-card-content class="form-details-content">
                <div class="form-item">
                  <span>What Can You Volunteer In ?</span
                  >{{ volunteer.VolunteerIn }}
                </div>
                <div class="form-item">
                  <span>why Do You Want to Volunteer ?</span
                  >{{ volunteer.whyApply }}
                </div>
                <div class="icon-div form-item">
                  <mat-icon color="primary"> date_range </mat-icon>Available
                  Date:
                  {{
                    volunteer.availabledate.start.toDate() | date : "yyyy/MM/dd"
                  }}
                  <mat-icon color="primary">history</mat-icon>
                  {{
                    volunteer.availabledate.end.toDate() | date : "yyyy/MM/dd"
                  }}
                </div>
                <mat-card-actions
                  ><button
                    (click)="
                      approve(volunteer.uid + '', volunteer.oportunityId + '')
                    "
                    mat-raised-button
                    color="primary"
                  >
                    Approve
                  </button>
                  <button
                    (click)="
                      reject(volunteer.uid + '', volunteer.oportunityId + '')
                    "
                    mat-raised-button
                    color="warn"
                  >
                    Reject
                  </button></mat-card-actions
                >
              </mat-card-content>
            </mat-card>
          </div>
        </mat-tab>
        <mat-tab label="Approved">
          <div class="mat-elevation-z4">
            <div
              class="details-box mat-elevation-z4"
              *ngFor="let volunteer of approved | async"
            >
              <div class="c">
                <mat-card
                  class="card-volunteer"
                  [routerLink]="['/volunteer/profile', volunteer.uid]"
                >
                  <mat-card-header>
                    <div class="p-avatar">
                      <div>
                        <img
                          class="avatar"
                          mat-card-image
                          [src]="volunteer.userdetails.profileImg"
                          alt="volunteer profile img"
                        />
                      </div>

                      <mat-card-subtitle class="title">{{
                        volunteer.userdetails.fullName
                      }}</mat-card-subtitle>
                    </div>
                  </mat-card-header>
                  <mat-divider></mat-divider>

                  <mat-card-content>
                    <div class="content-container">
                      <h4>personal information</h4>
                      <div class="card-item">
                        <h5>phone Number :</h5>
                        {{ volunteer.userdetails.phoneNumber }}
                      </div>

                      <mat-divider></mat-divider>
                      <h4>Skills</h4>
                      <div class="item">
                        <mat-chip-listbox aria-label="skills required">
                          <mat-chip
                            *ngFor="let skill of volunteer.userdetails.skills"
                          >
                            {{ skill }}
                          </mat-chip>
                        </mat-chip-listbox>
                      </div>

                      <mat-divider></mat-divider></div
                  ></mat-card-content>
                </mat-card>
              </div>
              <mat-card class="form-details">
                <mat-card-header class="form-details-header">
                  <mat-card-title>Applicant Form Details:</mat-card-title>
                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content class="form-details-content">
                  <div class="form-item">
                    <span>What Can You Volunteer In ?</span
                    >{{ volunteer.VolunteerIn }}
                  </div>
                  <div class="form-item">
                    <span>why Do You Want to Volunteer ?</span
                    >{{ volunteer.whyApply }}
                  </div>
                  <div class="icon-div form-item">
                    <mat-icon color="primary"> date_range </mat-icon>Available
                    Date:
                    {{
                      volunteer.availabledate.start.toDate()
                        | date : "yyyy/MM/dd"
                    }}
                    <mat-icon color="primary">history</mat-icon>
                    {{
                      volunteer.availabledate.end.toDate() | date : "yyyy/MM/dd"
                    }}
                  </div>
                                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Rejected">
          <div class="mat-elevation-z4">
            <div
              class="details-box mat-elevation-z4"
              *ngFor="let volunteer of rejected | async"
            >
              <div class="c">
                <mat-card
                  class="card-volunteer"
                  [routerLink]="['/volunteer/profile', volunteer.uid]"
                >
                  <mat-card-header>
                    <div class="p-avatar">
                      <div>
                        <img
                          class="avatar"
                          mat-card-image
                          [src]="volunteer.userdetails.profileImg"
                          alt="volunteer profile img"
                        />
                      </div>

                      <mat-card-subtitle class="title">{{
                        volunteer.userdetails.fullName
                      }}</mat-card-subtitle>
                    </div>
                  </mat-card-header>
                  <mat-divider></mat-divider>

                  <mat-card-content>
                    <div class="content-container">
                      <h4>personal information</h4>
                      <div class="card-item">
                        <h5>phone Number :</h5>
                        {{ volunteer.userdetails.phoneNumber }}
                      </div>

                      <mat-divider></mat-divider>
                      <h4>Skills</h4>
                      <div class="item">
                        <mat-chip-listbox aria-label="skills required">
                          <mat-chip
                            *ngFor="let skill of volunteer.userdetails.skills"
                          >
                            {{ skill }}
                          </mat-chip>
                        </mat-chip-listbox>
                      </div>

                      <mat-divider></mat-divider></div
                  ></mat-card-content>
                </mat-card>
              </div>
              <mat-card class="form-details">
                <mat-card-header class="form-details-header">
                  <mat-card-title>Applicant Form Details:</mat-card-title>
                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content class="form-details-content">
                  <div class="form-item">
                    <span>What Can You Volunteer In ?</span
                    >{{ volunteer.VolunteerIn }}
                  </div>
                  <div class="form-item">
                    <span>why Do You Want to Volunteer ?</span
                    >{{ volunteer.whyApply }}
                  </div>
                  <div class="icon-div form-item">
                    <mat-icon color="primary"> date_range </mat-icon>Available
                    Date:
                    {{
                      volunteer.availabledate.start.toDate()
                        | date : "yyyy/MM/dd"
                    }}
                    <mat-icon color="primary">history</mat-icon>
                    {{
                      volunteer.availabledate.end.toDate() | date : "yyyy/MM/dd"
                    }}
                  </div>
                  <mat-card-actions>
                    <button
                      (click)="
                        approve(volunteer.uid + '', volunteer.oportunityId + '')
                      "
                      mat-raised-button
                      color="primary"
                    >
                      Approve
                    </button></mat-card-actions
                  >
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
