<h1>Add New Opportunity</h1>
<div mat-dialog-content class="form-container">
   
    <div class="form-container">
        <h2>Company Register Form</h2>
        <form [formGroup]="form" (ngSubmit)="submit()">
    
            <mat-form-field>
                <mat-label>Company Name</mat-label>
                <input name="name" matInput placeholder="enter company name" formControlName="name">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Type</mat-label>
                <mat-select name="type" formControlName="type">
                    <mat-option *ngFor="let type of types" [value]="type">
                        {{type}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>phoneNumber</mat-label>
                <input name="phoneNumber" type="number" matInput #phoneNumber placeholder="Ex. 0712345678"
                formControlName="phoneNumber">
                <mat-hint align="end">{{phoneNumber.value.length}} / 10</mat-hint>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Email</mat-label>
                
                <input type="email" name="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
                           
    
            </mat-form-field>
           
           <mat-form-field>
            <mat-label>Website URL         
            </mat-label>
            <input matInput type="url" name="url" formControlName="url">
            <mat-error>required field</mat-error>
           </mat-form-field>
           <div class="logo">
    <label for="logo"> Logo*.........</label>
           <input type="file" (change)="upload($event)" name="logo" formControlName="logo" accept="image/*" placeholder="upload logo.....">
           <progress max="100" [value]="(uploadProgress | async)"></progress>
    <div class="result" *ngIf="downloadURL | async; let uploadSrc">
        <a [href]="uploadSrc">You just uploaded this file!</a>
    </div>
    
    <section class="control-bar" *ngIf="uploadState | async; let state">
      <button (click)="task.pause()" [disabled]="state === 'paused'">Pause</button>
      <button (click)="task.cancel()" [disabled]="!(state === 'paused' || state === 'running')">Cancel</button>
      <button (click)="task.resume()" [disabled]="state === 'running'">Resume</button>
    </section>
    
    <div class="container" *ngIf="downloadURL | async ; let url">
        <img [src]="url" alt="Image from AngularFireStorage">
    </div>
               
           </div>        
    
              </form>
    
    </div>
       


<div mat-dialog-actions>
    <button mat-raised-button mat-dialog-close>No</button>
    <button mat-raised-button  (click)="submit()">Yes</button>
</div>
</div>