<div class="container">
  <mat-card class="login">
    <mat-card-header>
      <h1 class="card-h">Login</h1>
    </mat-card-header>
    <mat-card-content>
      <form class="login-form" [formGroup]="form" (ngSubmit)="submit()">
        <mat-form-field class="inputs-field">
          <mat-label>Email</mat-label>
          <input
            type="email"
            matInput
            formControlName="email"
            placeholder="Ex. pat@example.com"
          />
          <mat-error
            *ngIf="
              form.get('email')?.hasError('email') &&
              !form.get('email')?.hasError('required')
            "
          >
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="form.get('email')?.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="inputs-field">
          <mat-label>Enter your password</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            formControlName="password"
          />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error *ngIf="form.get('password')?.hasError('required')">
            password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-card-actions>
          <button type="reset" mat-raised-button color="warn">Reset</button>
          <button
            type="submit"
            [disabled]="form.invalid"
            mat-raised-button
            color="primary"
          >
            Login
          </button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>
