.heading span{
    padding: 20px 0px;
    /* text-align: start; */
    /* opacity: 0.7; */
    color: rgb(230, 205, 63);
    font-family: 'Convergence', sans-serif;

}

.container{
    display:flex;
    flex-direction: column;
    gap:10px;
align-items:center;}
img {
    border-radius: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
  }
  mat-card:hover{
    box-shadow: 0 0 20px gray;

}
  .avatar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 3px;
    
    } 

mat-card{
    width: 100%;
    max-height: 600px;
    box-shadow: 0 0 10px gray;
    cursor: pointer;

}
mat-divider{
    margin:10px 5px;

}
mat-card-footer{
    background-color: blue;
padding: 0;
text-align: center;
color: white;

}

.card-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
mat-card-title{
    font-size: 1.5rem;
text-shadow: 0 0 3px gray;}
.item{
    padding: 5px;
    font-size: 1.2rem;
    text-shadow: 0 0 1px gray;}

    
.img-div{
    width: 100%;
   
}
.avatar-headre{
display: flex;
flex-direction: column;
}
.skills{
    display:flex;
}

    mat-chip-listbox{

display: flex;    }


.apply{
    display: flex;
    justify-content: flex-end;
    padding: 5px 20px;
}

@media (min-width: 768px) { 
    mat-card{
        width: 700px;

    
    }
.card-container{
    display: flex;
    flex-direction: column;
    /* grid-template-columns: repeat(2,1fr); */
    gap: 20px;
    
}

}
